.cake, .pizza, .icecream {
  margin: 2rem;
}

.cake h2, .pizza h2, .icecream h2{
  margin-top:1rem ;
  color: #1976D2;
  text-align: center;
}


.cake button, .pizza button, .icecream button{
  margin:auto;
  display:block;
} 

h1{
  color : #1976D2;
  text-align: center;
}

table{
  margin-left: auto;
  margin-right: auto;
}

thead{
  text-align: center;
}

thead td , h2{
  font-weight: bold;
  font-size: 25px;
  color: #26A69A;
}
thead td hr{
  color: black;
}

h4{
  margin: auto;
  padding: auto;
}

span {
  font-size: 1rem;
}

p{
  margin-left: 20%;
  font-weight: bold;
}

h3 {
  margin-left: 10%;
  color:#0D47A1;
}